<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
<appSettings>
	<add key="GoogleSearchBaseURL" value="http://www.google.com.au/search?"/>
	<add key="NoOfRecrodsToSearchIn" value="100"/>
	<!--<add key="RegExLookup" value="(&lt;h3 class=\"r\">&lt;a.href=\"\\/url\\?q=https?:(.*?)>.*?<\\/a><\\/h3>)"/>-->
</appSettings>
</configuration>